<div class="dropdown mr-2">
	<a class="btn btn-light btn-sm" href="#!" role="button" id="dropdownMenuLink-2" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" aria-label="Bildirimler">
		<span class="h5">
			<i class="far fa-bell"></i>
		</span>
		<span class="u-indicator u-indicator-top-right u-indicator--xxs bg-info"></span>
	</a>

	<div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink-2" style="width: 360px;">
		<div class="card">
			<div class="card-header d-md-flex align-items-center py-3">
				<h2 class="h5 card-header-title">Bildirimler</h2>
				<a class="ml-auto" href="#!">Temizle</a>
			</div>

			<div class="card-body p-0">
				<div class="list-group list-group-flush">
					<a class="list-group-item list-group-item-action" href="#!">
						<div class="media align-items-center">
							<div class="u-icon u-icon--sm rounded-circle bg-danger text-white mr-3">
								<i class="fab fa-dribbble"></i>
							</div>

							<div class="media-body">
								<div class="d-md-flex align-items-center">
									<h6 class="mb-1">Dribbble</h6>
									<small class="text-muted ml-md-auto">2 May 2023</small>
								</div>

								<p class="text-truncate mb-0" style="max-width: 250px;">
									<span class="text-primary">@@admin</span> az önce gönderinizi beğendi!
								</p>
							</div>
						</div>
					</a>
					<a class="list-group-item list-group-item-action" href="#!">
						<div class="media align-items-center">
							<div class="u-icon u-icon--sm rounded-circle bg-info text-white mr-3">
								<i class="fab fa-twitter"></i>
							</div>

							<div class="media-body">
								<div class="d-md-flex align-items-center">
									<h6 class="mb-1">Twitter</h6>
									<small class="text-muted ml-md-auto">18 Jan 2023</small>
								</div>

								<p class="text-truncate mb-0" style="max-width: 250px;">
									Birisi tweet'te sizden bahsetti.
								</p>
							</div>
						</div>
					</a>
					<a class="list-group-item list-group-item-action" href="#!">
						<div class="media align-items-center">
							<div class="u-icon u-icon--sm rounded-circle bg-success text-white mr-3">
								<i class="fab fa-spotify"></i>
							</div>

							<div class="media-body">
								<div class="d-md-flex align-items-center">
									<h6 class="mb-1">Spotify</h6>
									<small class="text-muted ml-md-auto">18 Jan 2023</small>
								</div>

								<p class="text-truncate mb-0" style="max-width: 250px;">
									Az önce 75₺ ücretsiz hediye kartı aldınız.
								</p>
							</div>
						</div>
					</a>
					<a class="list-group-item list-group-item-action" href="#!">
						<div class="media align-items-center">
							<div class="u-icon u-icon--sm rounded-circle bg-info text-white mr-3">
								<i class="fab fa-facebook-f"></i>
							</div>

							<div class="media-body">
								<div class="d-md-flex align-items-center">
									<h6 class="mb-1">Facebook</h6>
									<small class="text-muted ml-md-auto">18 Jan 2023</small>
								</div>

								<p class="text-truncate mb-0" style="max-width: 250px;">
									<span class="text-primary">@@admin</span> yayınınıza yorum yaptı.
								</p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="card-footer py-3">
				<a class="btn btn-block btn-outline-primary" href="#!">Tümünü görüntüle</a>
			</div>
		</div>
	</div>
</div>