<footer class="u-footer d-md-flex align-items-md-center text-center text-md-left text-muted">
	<ul class="list-inline small mb-3 mb-md-0">
		<li class="list-inline-item mr-4">
			<a class="text-muted" target="_blank" href="//linkedin.com/in/gokhansevim/">About Me</a>
		</li>
		<li class="list-inline-item mr-4">
			<a class="text-muted" target="_blank" href="//linkedin.com/in/gokhansevim/">Suggestions</a>
		</li>
		<li class="list-inline-item">
			<a class="text-muted" target="_blank" href="//linkedin.com/in/gokhansevim/">Contact</a>
		</li>
	</ul>
	<small class="text-muted ml-auto">
		&copy; @DateTime.Now.Year
		<a class="text-muted" target="_blank" href="//linkedin.com/in/gokhansevim/">Gökhan Sevim</a>
		- All rights reserved.
	</small>
</footer>