<aside id="sidebar" class="u-sidebar">
	<div class="u-sidebar-inner">
		<header class="u-sidebar-header">
			<a class="u-sidebar-logo" href="/" url-push="true">
				<img class="img-fluid" src="/img/blank.gif" data-src="/img/logo.png" width="200" alt="@ViewData["CompanyName"]" loading="lazy" fetchpriority="low">
			</a>
		</header>
		<nav class="u-sidebar-nav">
			<ul class="u-sidebar-nav-menu u-sidebar-nav-menu--top-level">
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/" url-push="true">
						<i class="fa fa-cubes u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Dashboard</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/crypt/password/" url-push="true">
						<i class="fas fa-key u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Şifrelerim</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/crypt/note/" url-push="true">
						<i class="far fa-sticky-note u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Notlarım</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/crypt/address/" url-push="true">
						<i class="far fa-address-book u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Adreslerim</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/crypt/payment-card/" url-push="true">
						<i class="far fa-credit-card u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Ödeme Kartlarım</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/crypt/bank-account/" url-push="true">
						<i class="fas fa-university u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Banka Hesaplarım</span>
					</a>
				</li>
				<li class="u-sidebar-nav-menu__item" data-menu="menu3">
					<a class="u-sidebar-nav-menu__link" href="#!"
					   data-target="#menu3">
						<i class="far fa-user-circle u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Hesap Yönetimi</span>
						<i class="fa fa-angle-right u-sidebar-nav-menu__item-arrow"></i>
						<span class="u-sidebar-nav-menu__indicator"></span>
					</a>

					<ul id="menu3" class="u-sidebar-nav-menu u-sidebar-nav-menu--second-level" style="display: none;">
						<li class="u-sidebar-nav-menu__item">
							<a class="u-sidebar-nav-menu__link" href="/manage/profile/" url-push="true">
								<span class="u-sidebar-nav-menu__item-icon">P</span>
								<span class="u-sidebar-nav-menu__item-title">Profil</span>
							</a>
						</li>
						<li class="u-sidebar-nav-menu__item">
							<a class="u-sidebar-nav-menu__link" href="/manage/account-settings/" url-push="true">
								<span class="u-sidebar-nav-menu__item-icon">H</span>
								<span class="u-sidebar-nav-menu__item-title">Hesap Ayarları</span>
							</a>
						</li>
					</ul>
				</li>
				<li>
					<hr />
				</li>
				<li class="u-sidebar-nav-menu__item">
					<a class="u-sidebar-nav-menu__link" href="/help/" url-push="true">
						<i class="far fa-question-circle u-sidebar-nav-menu__item-icon"></i>
						<span class="u-sidebar-nav-menu__item-title">Yardım</span>
					</a>
				</li>
			</ul>
		</nav>
	</div>
</aside>