<div class="alert alert-light mt-5" role="alert">
	<span class="h5 d-block alert-heading"><i class="fas fa-user-shield"></i> AES-256 Şifrelemeyle Verileriniz Güvende!</span>
	<p>
		Güçlü şifreleme yöntemleriyle verileriniz uçtan uca korunur. Endişelenmenize gerek yok, verileriniz tamamen güvende..
	</p>
	<hr>
	<p class="mb-0">Bu yöntem, hacker saldırılarına karşı güçlü bir koruma sağlar ve verilerinizin üçüncü taraflar tarafından erişilmesinin önüne geçer. </p>
</div>