<div class="dropdown mr-2">
	<a class="btn btn-light btn-sm" href="#!" role="button" id="dropdownMenuLink-3" aria-haspopup="true" aria-expanded="false" data-toggle="dropdown" aria-label="Uygulamalar">
		<span class="h5">
			<i class="fab fa-app-store"></i>
		</span>
		<span class="u-indicator u-indicator-top-right u-indicator--xxs bg-warning"></span>
	</a>

	<div class="dropdown-menu dropdown-menu-right border-0 py-0 mt-3" aria-labelledby="dropdownMenuLink-3" style="width: 360px;">
		<div class="card">
			<div class="card-header d-md-flex align-items-center py-3">
				<h2 class="h5 card-header-title">Uygulamalar</h2>
			</div>

			<div class="card-body py-3">
				<div class="row">
					<div class="col-4 px-2 mb-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img1.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Assana</span>
						</a>
					</div>
					<div class="col-4 px-2 mb-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img2.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Slack</span>
						</a>
					</div>
					<div class="col-4 px-2 mb-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img3.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Cloud</span>
						</a>
					</div>
					<div class="col-4 px-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img5.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Facebook</span>
						</a>
					</div>
					<div class="col-4 px-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img4.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Spotify</span>
						</a>
					</div>
					<div class="col-4 px-2">
						<a class="u-apps d-flex flex-column rounded" href="#!">
							<img class="img-fluid u-avatar--xs mx-auto mb-2" src="/img/blank.gif" data-src="/img/brands-sm/img6.png" alt="" fetchpriority="low" loading="lazy">
							<span class="text-center">Twitter</span>
						</a>
					</div>
				</div>
			</div>
			<div class="card-footer py-3">
				<a class="btn btn-block btn-outline-primary" href="#!">Tümünü görüntüle</a>
			</div>
		</div>
	</div>
</div>